---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor Degree of Computer Science"
      subtitle="Aug.2012 to May.2016 at Anderson University, South Carolina, United States"
    />
    
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Senior Full-stack Developer at Serokell"
      subtitle="From Apr.2022 to Jun.2024, San Francisco, CA"
    >
    <div>
      - Led a cross-functional team of 4 web and blockchain developers, and 3 AI scientists to develop AI-driven smart contract automation platform for the DeFi sector using TensorFlow, Solidity, React and Node.
    </div>
    <div>
      - Collaborated with blockchain developers to optimize smart contract performance and efficiency.
    </div>
    <div>
      - Integrated AI algorithms with blockchain technology, automating data verification and transaction processing, reducing transaction processing time by 40%.
    </div>
    <div>
      - Implemented best practices in Next.js, React, Tailwind CSS, and Ruby on Rails.
    </div>
    <div>
      - Developed and implemented chatbot UI and solutions utilizing OpenAI models.
    </div>
    <div>
      - Integration of Language Model (LLM) capabilities into business processes using Langchain technology.
    </div> <br />
    </TimeLineElement>
    <TimeLineElement
      title="Full-stack Developer at TRIARE"
      subtitle="From Nov.2019 to Mar.2022, San Francisco, CA"
    >
    <div>- Refactored 80% of our flagship React product with 150+ components to Hooks while upgrading it from Node.js 6 to Node.js 12.</div>
    <div>- Maintained high-level expertise in React state management strategies, using Redux.</div>
    <div>- Wrote Jest tests for components and E2E test in Playwright.</div>
    <div>- Created Ruby on Rails REST endpoints to be consumed by React.</div>
    <div>- Implemented authorization logic and user account management into a React application.</div>
    <div>- Managed user account data in an Express application and MongoDB.</div>
    <div>- Provided expertise on Stripe payment integration options.</div> <br />
    </TimeLineElement>
    <TimeLineElement
      title="Frontend Developer at Guidewire"
      subtitle="From Jan.2017 to Nov.2019, Columbia, SC"
    >
    <div>- Spearheaded the migration of 4 existing web applications frontend based on PHP to React/Vue.js.  </div>
    <div>- Participated in sprint planning, grooming, coordinating, PR reviews, and communication to meet team deadlines and goals.</div>
    <div>- Took ownership of and built a B2B SPA to monitor basic GTFS data, which the Apple Maps team described as outstanding.</div>
    <div>- Initiated and built a GraphQL-based SPA, which laid the groundwork for server-side Runtime.</div> <br />
    </TimeLineElement>
    <TimeLineElement
      title="Junior Web Developer at VC3"
      subtitle="From May.2016 to Jan.2017, Columbia, SC"
    >
    <div>- Built and improved user interfaces using React and Angular.</div>
    <div>- Worked on responsive design to ensure websites work well on all devices.</div>
    <div>- Participated in the planning of new tasks and bugs using Scrum methodology.</div>
    <div>- Built an API with PHP Laravel framework to decouple some responsibilities from the existing system.</div>
    <div>- Developed and helped maintain a monolithic system for managing consigned credit promoters. Created with PHP, JavaScript, jQuery, and PostgreSQL.</div>
    <div>- Built an API with PHP Laravel framework to decouple some responsibilities from the core system.</div><br/>
    </TimeLineElement>
    
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul>
</BaseLayout>
